.box{
	background-color: #00FFFF;
	height: 450px;
	width: 500px;
	border-style: inset;
	margin: 10px;
    box-shadow: 2px 2px; 
}

.display{
	background-color: #E0FFFF;
	border-style: inset;
	height: 80px;
	width: 470px;
	margin: 10px;
	box-shadow: 2px 2px; 
}
button{
	margin: 10px;
	width: 100px;
	box-shadow: 2px 2px; 
}
p{
	text-align: right;
	font-family: Freestyle Script;
	margin: 20px;
	font-size: 30px;
}
